nav{
    display:flex;
    justify-content: space-between;
    align-items: baseline;

    h1{
        color: $base-color;
        font-size: 72px;
        font-weight: lighter;
        margin: 0;
        padding-left: 1%;
    }
    ul{
        flex-basis: 39%;
    }

    ul li{
        display:inline;
        font-size: 24px;
        padding-right: 2%;
    }
    ul li a:hover{
        color: $base-color;
        border-bottom: 3px solid $base-color;

    }
}

#hero-img{
    background-image: url(../images/illuminated-keyboard-1242287.jpg);
    background-size: cover;
    background-position: center;
    color: $base-color;
    font-size: 40px;
    height: 100%;
    
    #max{
        margin: 0 0 0 auto;
        max-width: 37rem;
        padding-top: 1%;
        padding-bottom: 1%;    

        h2{
           margin-bottom: 0.2em;
        }
        
        h2 span{
            background: white;
            line-height: 1.3em;
            font-weight: lighter;
        }
        
        button{   
            background: $button-color;     
            border-radius: 6px;
            border: none;
            color: white;
            font-family: $font;
            font-size: 40px;
            margin-bottom: 8%;
            padding: 2% 3%;
        }
    }
}