  
        nav{
            display:flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: nowrap;

            h1{
                color: $base-color;
                font-size: 5rem;
                font-weight: lighter;
                margin: 0;
                padding-left: 1%;
                flex-basis: 45%;
            }
        
            ul{
                flex-basis: 42%;

                li{
                    display:inline;
                    font-size: 1.5rem;
                    padding-left: 3%;

                    a:hover{
                        color: $base-color;
                        border-bottom: 3px solid $base-color;
    
                    }
                }
            }

            .toggleNav{
                display:none;
            }
        }

#hero-img{
    background-image: url(../images/illuminated-keyboard-1242287.jpg);
    background-size: cover;
    background-position: center;
    color: $base-color;
    font-size: 40px;
    height: 100%;
    
    #max{
        margin: 0 0 0 auto;
        max-width: 39rem;
        padding-top: 1%;
        padding-bottom: 1%;    

        h2{
           margin-bottom: 0.2em;
        }
        
        h2 span{
            background: white;
            line-height: 1.3em;
            font-weight: lighter;
        }
        
        button{   
            background: $button-color;     
            border-radius: 6px;
            border: none;
            color: white;
            font-family: $font;
            font-size: 40px;
            margin-bottom: 8%;
            padding: 2% 3%;
        }
    }
}

@media only screen and (max-width: 1048px){


    nav{
        flex-direction:row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-end;


        .toggleNav{
            display:block;
            flex-basis:100%;
            text-decoration: none;
            float: right;
            height: 40px;
            flex-grow:1;
            flex-basis:10%;

            span{
                font-size: 25px;
                color:black;
            }
            
        }
        h1{
            font-size:3rem;
            flex-basis:80%;
            flex-grow:1;
        }

        ul{
            display:none;
            flex-basis:100%;
        } 

        .open{
            display:flex;
            flex-direction:column;           
            
            li{
                flex-basis:100%;
            }
        }
    }

    #max{

        font-size: 80%;

        button{
            padding:0%;
            font-size: 30px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 800px){

    nav{
        h1{
            font-size: 2.5rem;
        }
    }
    #hero-img{
        #max{
            button{
                font-size: 80%;
            }
            h2{
                font-size:2.5rem;
            }
            
        }
    }

}