#hero-img{
    background-image: url(../images/illuminated-keyboard-1242287.jpg);
    background-size: cover;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: baseline;

    h1{
        color: $base-color;
        font-size: 72px;
    }
    ul{
        flex-basis: 50%;
    }

    ul li{
        display:inline;
        font-size: 24px;
        padding-right: 2%;
    }
    ul li a:hover{
        color: $base-color;
        border-bottom: 3px solid $base-color;

    }
}