$base-color: #00b9f2;
$font: 'Arvo', serif;


body{
    font-family: $font;
    margin: 0px;
}

//importiert alle anderen scss files und index.js exportiert in css file
@import "header";
@import "services";
@import "news";
@import "footer";


